
<ion-header>

  <ion-navbar>
    <ion-title>
        Saved Events
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="canRender">
    <ion-list>
      <ion-item-sliding *ngFor="let item of list">
        <ion-item (click)="launchEventShowPage(item.event.id)" >{{item.event.title}} <br/> <span>{{item.creator.display_name}}</span></ion-item>
        <ion-item-options>
          <button ion-button icon-only (click)="launchEventShowPage(item.event.id)" light>
            <ion-icon name="eye"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>  
  </div>
</ion-content>